{% extends'layout.html'%}

{% block contentA %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
<body>

<h1>Select time</h1>

<form action="/predict" method="GET">
    <div>
      <label for="appt-time">Choose a time: </label>
      <input id="appt-time" type="time" name="time">
    </div>
    <div>
      <button onclick="ssdad">Click me</button>
    </div>
</form>
<body>
<form method="post" id="todo-form">
  <input type="text" name="todo" id="todo">
  <button type="submit">submit</button>
</form>

  <!--Jquery Cdn -->
<script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

<script type="text/javascript">
$(document).on('submit','#todo-form',function(e)
             {
console.log('hello');
e.preventDefault();
$.ajax({
  type:'POST',
  url:'/',
  data:{
    todo:$("#todo").val()
  },
  success:function()
  {
    alert('saved');
  }
})
});
</script>
</body>
</html>
{%endblock contentA %}

