<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Daily chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<h1>Daily Temperature Graph</h1>
<body>
    <canvas id="lineChart" width = "900" height = "400"></canvas>
    <script>
        var ctx = document.getElementById("lineChart").getContext("2d");
        var lineChart = new Chart(ctx,{
            type: "line",
            data: {
                labels:{{ labels | safe }},
                datasets: [
                    {
                        label:"Temperature for 1 day",
                        data: {{ values1 | safe }},
                        fill: false,
                        borderColor: "rgb(229,59,59)",
                        lineTension: 0.5
                    }
                ]

            },
            options: {
                responsive: false
            }
        });
    </script>    
</body>
<br>
<h1>Daily Humidity Graph </h1>
<body>
    <canvas id="lineChart1" width = "900" height = "400"></canvas>
    <script>
        var ctx = document.getElementById("lineChart1").getContext("2d");
        var lineChart = new Chart(ctx,{
            type: "line",
            data: {
                labels:{{ labels | safe }},
                datasets: [
                    {
                        label:"Humidity for 1 day",
                        data: {{ values2 | safe }},
                        fill: false,
                        borderColor: "rgb(75,192,192)",
                        lineTension: 0.5
                    }
                ]

            },
            options: {
                responsive: false
            }
        });
    </script>    
</body>

</html>